*{
    box-sizing:border-box;
    padding:0;
    margin:0;
}

body{
    background-color: #0B132B;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

header {
    text-align: center;
    padding: 20px;

    margin: 50px auto;

    background-color: #1C2541;
    color: #E6E1DF;

    transform: translateY(-50px);

    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

main {
    
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));

    color: #9E9795;

    transform: translateX(40px);

    flex-wrap: wrap;

    margin: 50px auto;

    gap: 20px;

}


a {
    
    display: inline-block;
    width: 250px;
    min-height: 180px;
    padding: 60px;
    margin: 50px;

    background-color: #3A506B;

    
    border: 0.5px solid #423D3D;
    border-radius: 4%;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.603);

    transition: 0.3s ease;
    text-decoration: none;
    text-align: center;
    color: black;
}

a:hover {

    transform: translateY(-2px);
    box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.3);
    background-color: #56779F;


}

section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 15px;
}

section > * {
    text-align: center;
    margin: 50px 0;
    height: 200px;
    border-radius: 15%;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;

    color: #9E9795;

    text-align: center;
    font-size: 60px;
    text-decoration: double;
}

h3 {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;

    color: #9E9795;
    font-size: 30px;

}

p {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    flex-wrap: wrap;

    color: #9E9795;
    font-size: 25px;

}


footer {

    display: flex;
    justify-content: left;
    align-items: center;

    gap: 15px;

    margin: 50px auto;
    padding: 20px;

    background-color: #1C2541;
    color: #E6E1DF;

    transform: translateY(120px);

    box-shadow: 10px -10px 15px rgba(0, 0, 0, 0.3);

}