*{
    box-sizing:border-box;
    padding:0;
    margin:0;
}

header {
    text-align: center;

    margin: 50px auto;

    background-color: rgb(0, 0, 0);
    color: white;

    transform: translateY(-50px);

    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

main {
    
    display: flex;
    justify-content: center;
    align-items: center;

    margin: 50px auto;

    gap: 20px;

}

footer {
    text-align: center;
}

a {
    display: inline-block;

   border: 0.5px solid rgb(37, 27, 27);
   padding: 40px;
   vertical-align: middle;
   gap: 30px;
   margin: 90px;
   border-radius: 4%;
   box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);

   transition: 0.3s ease;
}

a:hover {

    transform: translateY(-2px);
    box-shadow: 20px 20px 10px rgba(0, 0, 0, 0.3);


}

img {

    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    margin: 50px auto;
    height: 200px;
    border-radius: 15%;
}

h2 {
    display: flex;
    justify-content: center;
    align-items: center;

    text-align: center;
    font-size: 60px;
    text-decoration: double;
}

footer {

    text-align: left;

    margin: 50px auto;

    background-color: rgb(0, 0, 0);
    color: white;

    transform: translateY(120px);

    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);

}