body {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

*{
    margin: 50px auto;
    padding: 25px;
}

button {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}