body {
    min-height: 100vh;
    background: linear-gradient(135deg, rgb(228, 227, 235), rgb(170, 170, 201));
}

h1 {
    text-decoration: underline #000000 3px; 
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); 
}

header, footer {
    background-color: black;
    height: 50px;
}

    .parent_cards {
    display: flex;
    justify-content: center; 
    gap: 15px;
}

.card_0 {
    text-align: center;
}

#hange {
    width: 400px;
    border-radius: 16%;
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

.card_1, .card_2, .card_3 {
   display: inline-block;
   border: 0.5px solid rgb(37, 27, 27);
   padding: 40px;
   vertical-align: middle;
   gap: 30px;
   margin: 90px;
   border-radius: 4%;
   box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}

#uruka {
    width: 400px;
    height: 200px;
    border-radius: 16%;
}